<%= react_component 'Menubar' %>

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
<head>

<body>
    
    <header class="v-header container">
        
        <div class= "header-overlay"></div>

        <div class= "fullscreen-video-wrap">
            <%= video_tag "bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
        <div>
        
        <div class="welcome">
            Welcome  

            <div class="description">
            to New Box
        </div>

        </div>

    </header>
</body>

<html>