<%= react_component 'Menubar' %>

<br><br><br>

<h1>Editing Asset</h1>

<%= render 'form', asset: @asset %>
<br>
<%= link_to 'Show', @asset, class: "white-text waves-effect waves-light btn" %>
<%= link_to 'Back', assets_path, class: "white-text waves-effect waves-light btn" %>
